@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons";



body {
    // background-color: lightgray;
}

main .container {
    padding: 60px 15px 0;
}

ul.phones {
  padding-left:unset;
}

ul li {
  list-style-type:none;
}

ul.phones li {
  margin-bottom:0.5rem;
}

.form-icon {
  font-size:2rem;
}

.modal-body button[type="submit"] {
  display: none;
}
