<div 
    class="modal fade" 
    id="formModal" 
    tabindex="-1" 
    aria-labelledby="formModalLabel" 
    aria-hidden="true"
    data-modal-form-target="modal"
    >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formModalLabel">{{ modalTitle }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body" data-modal-form-target="modalBody">
        {{ modalContent|default('Loading...') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="modal-form#closeForm">
        Cancel
        </button>
        <button type="button" class="btn btn-primary" data-action="modal-form#submitForm">
        Create
        </button>
      </div>
    </div>
  </div>
</div>
